*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.nav-bar{
  width: 100vw;
  height: 50px;
  background-color: #eee7;
}
.nav-bar2{
    width: 100vw;
    height: 100px;
    background-color: whitesmoke;
  }
  .nav-bar2 ul {
    width: 100vw;
    height: 100px;
    display: inline-flex;
    flex-wrap: wrap;
    top: 0;
    list-style: none;
    text-align: center;
    justify-content: center;
    align-content: center;
  }
  .nav-bar2 ul li{
    margin: 10px;
    box-shadow: 1px 2px 4px;
    padding: 10px;
    border-radius: 12px;
    background-color: rgb(210, 180, 140);

  }
  .nav-bar2 ul li a{
    text-decoration: none;
  }